# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Runtime data
pids/
*.pid
*.seed

# Directory for metadata and rarity data
metadata/
rarity-data/

# Environment variables
.env

# macOS specific files
.DS_Store

# Optional: Ignore build folders (if any)
build/
dist/
